<!DOCTYPE html>
<html>
<head>
  <title>QuickDry</title>
  <%= stylesheet_link_tag    "quick_dry/application", media: "all" %>
  <%= javascript_include_tag "quick_dry/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
